<div class="flex justify-center align-middle items-center pt-10 w-full">
    <div class="bg-white rounded-lg p-10 flex flex-col justify-center align-middle items-center">
        <div class="pb-8">
            <ng-lottie width="100px" [options]="options" /> 
        </div>
            <p>Payment processing failed. Please <a href="mailto:contact@tintto.com" class="underline font-semibold">contact support</a></p>
            <br>
            <p>or go to <a class="font-semibold" routerLink="/signed-in-redirect">dasboard</a></p>

    </div>
</div>